<div id="welcome" class="welcome">
     <h2>Welcome to Book App</h2>
    <div class ="row justify-content-center">    
        <div class ="col-md-4 col-5 col-xs-5">
            <nav class="nav flex-column">
                <router-link to="/best-seller" exact><i class="fas fa-trophy"> Best Seller</i></router-link>

                <router-link to="/new-arrival"><i class="fas fa-bullhorn"> New Arrival</i></router-link>

                <router-link to="/search" exact><i class="fas fa-search"> Search</i></router-link>
            </nav>
            <h1>{{message}}</h1>
        </div>
    </div>
    
</div>
